.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1.5rem 3.5rem;
  background-color: pink;
  /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3{
  color: yellow;
  font-family: "pacifico", cursive;
  font-size: 2rem;
}
h2 {
  text-align: center;
  font-family: Bungee Inline;
}

.header,p{
  font-size: 2rem;
  margin-top: 6rem;
  margin-left: 19rem;
  font-family: "Patrick Hand";
}

a {
  text-decoration: none;
  letter-spacing: normal;
  line-height: 1.3em;
  margin-right: 100px;
  color: black;
  font-size: 1,8rem;
}

a:hover {
  text-decoration: none;
  background-color: rgb(224, 227, 241);
  padding: 1rem;
  border-radius: 13px;

}

body{
  background-color: grey;
  background-image: url('https://thumbs.dreamstime.com/b/home-office-desk-table-notepad-flower-white-background-home-office-desk-table-notepad-flower-white-background-flat-108329317.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

footer{
  background-color: grey;
  padding: 1px;
  position: absolute;
  bottom: 0rem;
  right: 0;
  left: 0;
  
}

footer, p{
  text-align: center;
  /* top: 1px; */
}


 blockquote{
   border-left: 6px solid rgb(133, 125, 125);

 }