 .about-section {
   padding: 25px;
   text-align: center;
   background-color: pink;
   color: black;
 }

 .topnav {
   overflow: hidden;
   background-color: #333;
 }

 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 .topnav a.active {
   background-color: black;
 }

 h1 {
   text-align: center;
 }

 body {
   background-color: peachpuff;
   font-family: Arial, sans-serif;
   font-size: 22px;
 }

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 500px;
   height: 500px;
 }

 .card {
   background-color: #f1f1f1;
   padding: 20px;
   text-align: center;
 }