 img {
   border-color: teal;
   border-width: auto;
   border-style: solid;
   height: auto;
   width: auto;
 }

 p {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: larger;
   text-align: center;
   color: brown;
 }

 h1 {
   text-align: center;
 }

 body {
   background-color: pink;
 }

 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: auto;
 }