.skills {
  /* font-family: "Pirata One"; */
  font-size: 5rem;
  margin-top: 5rem;
  text-align: center;
}

.skill span {
  float: right;
}

.skill div {
  width: 100%;
  float: left;
  margin-top: 5px;
  background: #e7e7e7;
  border-radius: 10px;
}

.skill div span {
  background: #ffbf35;
  height: 5px;
  float: left;
}

div[role="progressbar"] {
  color: #ffbf35;
  margin-left: 100px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  place-items: center;
  display: grid;
  --pgPercentage: var(--value);
  background: radial-gradient(
      closest-side,
      black 80%,
      transparent 0 99.9%,
      black 0
    ),
    conic-gradient(#ffbf35 calc(var(--pgPercentage) * 1%), #ffe6af 0);
}

.fab {
  font-size: 40px;
  color: #ff69b4;
  padding: 15px;
}

.linkedin {
  text-shadow: 0px 10px 37px #0077b5;
}

.github {
  text-shadow: 0px 10px 37px #fff;
}

.instagram {
  text-shadow: 0px 10px 37px #8f00ff;
}

.pinterest {
  text-shadow: 0px 10px 37px #e60023;
}
.skill-container {
  margin-left: 12px;
}

.me {
  position: static;
  display: block;
  padding: 0px;
  width: 70%;
  border: 0;
  margin-left: 100px;
}

.graph {
  margin-top: 8rem;
}

.heading {
  padding: 3rem;
  margin-top: 5rem;
}

.Projects,
.My-interests {
  color: white;
  margin: 2rem;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 0.1em;
}

.width-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  font-size: 40px;
  margin: 0 3rem;
  font-family: "Pirata One";
}
.about {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid white;
  width: 90%;
  margin-top: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fa {
  font-size: 24px;
}
.circle-skill {
  display: grid;
  grid-template-columns: auto auto;
  margin: 2rem;
  padding: 2rem;
}

.tech-container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  margin-top: 2rem;
}
.project-title,
.project-description {
  margin: 1rem 0;
  font-family: 'Lato';
}
.project-description {
  color: #ffbf35;
}

a {
  text-decoration: none;
}

.project-link {
  font-size: 25px;
  color: #ff69b4;
}

.project-img {
  margin-top: 2rem;
  width: 50%;
  height: 50%;
}
.project {
  border: 2px solid #ffffff;
  width: 70%;
  text-align: center;
  margin: 2rem;
  height: 80%;
  box-shadow: 2px 1px 2px #fff;
}
.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 55px;
}

.contact-me{
  font-family: 'Roboto';
  margin-top: 1rem;
  font-size: 20px;
}

.description{
  font-size: 50px;
  font-family: 'Roboto';
}



.heading-text,
.techstack {
  margin-top: 2rem;
  font-size: 5rem;
  text-align: center;
}

.edu-exp {
  width: 90%;
  margin-top: 5rem;
  margin-left: 55px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.experience-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  padding: 30px 10px;
  background: #3b3b3b;
  border-radius: 10px;
  justify-content: center;
}

.social-contaier {
  margin: auto 4rem;
}

.experience-content h2 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 25px;
}
.experience-content h3 {
  color: #ff69b4;
  font-weight: 500;
  margin-bottom: 2px;
  font-size: 17px;
}
.experience-content p {
  font-size: 15px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts {
  background-color: #fff;
  width: 20%;
  border-radius: 100px;
  box-shadow: 0 0 8px rgba(255, 255, 255);
  margin: 2rem auto;
}
.c-social {
  border-radius: 50%;
  font-size: 25px;
  color: #000;
}

.message {
  height: 15vh;
}

button {
  padding: 15px 45px;
  margin: 2rem auto;
  position: relative;
  justify-items: center;
  width: 30%;
  font-size: 1.5rem;
  border-radius: 15px;
  border: 2px solid #ff69b4;
  background: none;
  color: #ff69b4;
  cursor: pointer;
  outline: none;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 50%;
  margin: 3rem auto;
}

input[type="text"],
input[type="email"] {
  border: none;
  padding: 12px 12px;
  color: #fff;
  border-bottom: 2px solid #fff;
  background-color: #111215;
}

.contact-container {
  text-align: center;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navigation:hover {
  color: #ff69b4;
  text-shadow: 2px 1px 2px #ff1493;
  transform: scale(1.5);
}

.card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  word-wrap: break-word;
  text-align: center;
  margin: auto;
}

.stack {
  /* border: 1px solid #ff69b4; */
  background: rgba(255, 255, 255, 0.07);
  text-align: center;
  margin: 1rem auto;
  height: 45vh;
  width: 70%;
  line-height: 2;
  border-radius: 10px;
}

#icons {
  font-size: 35px;
  margin-top: 1rem;
  color: #ff69b4;
}

.list {
  margin-top: 1rem;
  font-size: 15px;
}
.navigation-bar {
  display: flex;
  margin: 2rem auto;
  
}

nav{
  width: 100%;
  padding: 0px 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar {
  display: inline-flex;
  font-weight: 500;
  padding: 9px 15px;
  font-size: 25px;
  font-family: sans-serif;
}
.name {
  padding-top: 6rem;
  font-size: 80px;
  color: #ff69b4;
  text-align: center;
  font-weight: 700;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 10px 1px 10px #ff1493;
  font-size: 5em;
}

.intro {
  font-size: 25px;
}

p {
  font-family: "Poppins", sans-serif;
}

.about-me-paragraph {
  font-size: 15px;
  margin-bottom: 10rem;
}

body {
  background: #111215;
  color: white;
}

.interests {
  margin: 3rem;
}

.interests-card {
  border: 1px solid #ff69b4;
  height: 45vh;
  width: 70%;
  line-height: 2;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}

.int-imgs {
  width: 95%;
  height: 70%;
}

.interests-card2 {
  border: 1px solid #ff69b4;
  height: 45vh;
  width: 70%;
  line-height: 2;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}

footer {
  text-align: center;
}

.intro-divider {
  width: 80%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.intro-paragraph {
  padding-top: 5rem;
  text-align: center;
}

.active-box,
.active {
  display: none;
}
.icon {
  display: none;
}

@media (max-width: 768px) {
  .art-img {
    display: none;
  }

  .navigation-bar {
    display: none;
    background-color: #ff1493;
  }

  .active,
  .active-box {
    display: block;
    font-family: "Love Like This";
    font-weight: bolder;
    color: black;
    font-size: 25px;
  }

  @font-face {
    font-family: "Love Like This";
    font-size: 100px;
    src: url("https://db.onlinewebfonts.com/t/ea0153336c084ccbdeb5ac43435b451d.eot");
    src: url("https://db.onlinewebfonts.com/t/ea0153336c084ccbdeb5ac43435b451d.eot?#iefix")
        format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/ea0153336c084ccbdeb5ac43435b451d.woff2")
        format("woff2"),
      url("https://db.onlinewebfonts.com/t/ea0153336c084ccbdeb5ac43435b451d.woff")
        format("woff"),
      url("https://db.onlinewebfonts.com/t/ea0153336c084ccbdeb5ac43435b451d.ttf")
        format("truetype"),
      url("https://db.onlinewebfonts.com/t/ea0153336c084ccbdeb5ac43435b451d.svg#Love Like This")
        format("svg");
  }

  .name {
    font-size: 2em;
    text-shadow: 2px 1px 2px #ff1493;
    padding-top: 0;
  }

  .intro-paragraph {
    font-size: 18px;
    text-align: center;
  }

  .introduction.sticky {
    padding: 0.3rem 1.25rem;
    background-color: #ff69b4;
  }

  .icon.active::before {
    content: "\f00d";
  }
  .introduction.sticky.icon::before,
  .introduction.sticky.icon.active::before {
    color: white;
    background-color: #ff69b4;
  }

  .introduction {
    font-size: 15px;
    background-color: #ff69b4;
    color: white;
    margin: 2rem auto;
    padding: 2rem 1rem;
    width: 90%;
    border-radius: 6px;
  }

  hr {
    display: none;
  }

  h2 {
    display: none;
  }

  .content div .progress {
    height: 21px;
  }

  .content div .bar {
    height: 20px;
    width: 230px;
    background: #efefef;
    position: relative;
    box-shadow: 2px 5px 10px #999;
    overflow: hidden;
  }

  .content div .image img {
    background: #efefef;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 5px 10px #999;
  }

  .content div .image {
    height: 50px;
    width: 50px;
  }

  .menu {
    display: inline-grid;
    position: absolute;
    top: 120px;
    left: 0;
    background-color: #000;
    width: 100%;
    line-height: 0rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: auto;
    margin: 2rem 0;
    width: 100%;
  }

  .card {
    margin: 2rem;
    height: 50vh;
    box-shadow: 4px 5px 15px 5px #ff1493;
    width: 50%;
    overflow-y: hidden;
  }

  .interests-card,
  .interests-card2 {
    width: 100%;
    height: auto;
  }

  .my-image {
    display: none;
  }

  footer {
    position: relative;
    width: 100%;
    top: 10rem;
  }
  .content div .bar h1 {
    color: darkgrey;
  }
  nav.active ul li {
    margin: 0;
  }
  nav.active ul {
    display: block;
  }
}

@media (max-width: 375px) {
  .name {
    color: black;
    margin: 5rem;
  }

  .intro-paragraph {
    margin: auto 4rem;
    width: 100%;
  }

  .introduction {
    width: 100%;
  }

  .card {
    margin: 2rem;
    /* height: 50vh; */
    box-shadow: 4px 5px 15px 5px #ff1493;
    font-size: 2rem;
    /* width: 50%; */
    /* overflow-y: hidden; */
  }
}
@media (max-width: 425px) {
  .Skills,
  .Projects,
  .My-interests {
    font-size: 3rem;
  }

  #Skills {
    width: 30.5rem;
  }

  .social-contaier {
    display: inline-flex;
  }

  .btn {
    display: inline-flex;
    margin: -2rem 2rem;
  }

  .about-me-paragraph {
    font-size: 20px;
    width: 100%;
  }

  .interests-card,
  .interests-card2 {
    height: 30vh;
    width: 100%;
  }

  .heading {
    text-align: center;
    margin: 2rem 0;
    padding: 0;
  }
  .nav-container {
    justify-content: center;
  }
  .introduction {
    margin: 2rem 4rem;
  }
  .interests-container {
    display: grid;
    grid-gap: 15px;
    word-wrap: break-word;
    text-align: center;
    margin: 0 -8rem 0 -4rem;
  }
  .menu {
    display: grid;
    position: absolute;
    top: 127px;
    left: 35px;
    background: black;
    width: 110%;
    line-height: 0rem;
  }
}
@media (max-width: 320px) {
  #Skills {
    width: 150%;
  }
  .about-me-paragraph {
    font-size: 15px;
    margin: 6rem 0;
  }
  .art-img {
    display: none;
  }
  #About-me {
    margin: 0;
  }
}
@media (max-width: 540px) {
  .Skills,
  .Projects,
  .My-interests {
    font-size: 3rem;
  }

  #Projects {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .navigation-bar a {
    margin: 2rem 3rem;
    font-size: 2rem;
  }

  .name {
    margin: 2rem;
  }
  .art-img {
    display: none;
  }
  .btn {
    padding: 1rem 2rem;
    margin-left: 5rem;
    /* display: table-cell; */
  }
  .my-image {
    float: left;
    margin-right: 10px;
  }

  .about-me-paragraph {
    overflow: hidden;
  }
  .Projects,
  .Skills,
  .My-interests {
    text-align: center;
  }
}
@media only screen and (max-width: 946px) {
  .navigation-bar a {
    margin: 2rem 3rem;
  }
  .name {
    margin: 2rem 0;
  }
}
@media (max-width: 1440px) {
  .btn {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1440px) {
  .navigation-bar a {
    margin: 2rem 3rem;
  }
  .interests-card,
  .interests-card2 {
    font-size: 30px;
  }
  .card {
    font-size: 30px;
  }
  .about-me-paragraph {
    font-size: 20px;
  }
  .heading {
    text-align: center;
  }

  .list {
    font-size: 15px;
  }
}
