* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 12px;
  margin: 19px;
  color: rgb(5, 5, 1);
  font-family: Righteous;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

input[type="text"], input[type=number] {
  padding: 12px;
  width: 30%;
  /* border: none;
  border-bottom: 2px solid black; */
}

button {
  padding: 5px;
  margin: 5px;
  border-radius: 9px;
  cursor: pointer;
  /* text-align: center;
  align-items: center;
  display: block; */
  text-decoration: none;
}

th {
  background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
}

table, td, th {
  border: 1px solid black;
}

table {
  width: 50%;
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 19px;
  line-height: 30px;
  margin: 30px auto;
}