*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#About{
    margin-top: 4rem; 
    margin-bottom: 4rem; 
    font-family: 'Raleway';
    font-size: 19px;
    margin-left: 16rem;
    margin-right: 30rem;
}
body{
  background-color:cornflowerblue;
}

.h1{
  padding-top: 2em;
}
p{
  margin-top: 4rem;
  background-color: rgb(3, 61, 68);
  padding: 5%;
  color: #EDFF00FF;
}

a {
    color: white;
    font-size: 15px;
  }

  a {
    text-decoration: none;
    letter-spacing: normal;
    line-height: 1.3em;
    margin-right: 100px;
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(56, 86, 219);
  }

  .nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1.5rem 3.5rem;
    background-color: rgb(51, 46, 46);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    color: black;
  }

  .quote{
    font-size: 19px;
    margin-left: 54rem;
    font-family: "Permanent Marker";
  }

  .more-about-me{
      padding: 2rem;
      font-size: 20px;
      margin-left: 16rem;
      margin-right: 30rem;
  }
footer{
  background-color: grey;
  margin-top: 27.3rem;
  padding: 2rem;
  position: sticky;
}

footer{
  text-align: center;
}

.intro{
  margin-top: 9rem;
  margin-left: 26rem;
} 

img{
  margin-top: -5rem;
  margin-left: 59rem;
  object-fit:cover;
  object-position: right;
  width:300px;
  height:400px;
  border: solid 1px #CCC;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 3px solid pink;


}

.container{
  width: 80%;
  min-height: 100vh;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  margin-left: auto;
  margin-right: auto;
}

.center{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card{
  background-color: white;
  width: 250px;
  min-height: 250 * 1.618;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 5px;
  
  -webkit-box-shadow: -20px -20px 0px 0px lighten(salmon, 5%);
  
          box-shadow: 20px -20px 0px 0px lighten(salmon, 5%);
  border-radius: 10px;
  
  -webkit-animation-name: shadow-show; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  animation-name: shadow-show;
  animation-duration: 1.5s;
  
  -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
  -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
  transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000); /* custom */
}

  
  h1,h2,h3,h4,h5{
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: black;
  }
  hr{
    display: block;
    border: none;
    height: 3px;
    background-color: salmon;
    margin: 0px;
    
    -webkit-animation-name: line-show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s; /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
    transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000); /* custom */
  }
  
  p{
    margin: 15px 0px 0px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: black;
    
    -webkit-animation-name: p-show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes line-show {
    from {margin: 0px 100px;}
    to {margin: 0px;}
  }
  
  /* Standard syntax */
  @keyframes line-show {
    from {margin: 0px 100px;}
    to {margin: 0px;}
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes p-show {
    from {color: white;}
    to {color: black;}
  }
  
  /* Standard syntax */
  @keyframes p-show {
    from {color: white;}
    to {color: black;}
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes shadow-show {
    from {
      -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
      box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
      -webkit-box-shadow: -20px -20px 0px 0px lighten(salmon, 5%);
      box-shadow: -20px -20px 0px 0px lighten(salmon, 5%);
    }
  }
  
  /* Standard syntax */
  @keyframes shadow-show {
    from {-webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;box-shadow: 0px 0px 0px 0px #e0e0e0;}
    to {-webkit-box-shadow:  -20px 0px 0px lighten(salmon, 5%);box-shadow: -20px -20px 0px 0px lighten(salmon, 5%);}
  }
  